@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 2.5rem;
}

#compte {
    font-family: 'Roboto Condensed', sans-serif;;
    background-color: cornflowerblue;
    color: white;
}